div{
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Teko', sans-serif;
font-size: 40px;
margin-left: 150px;
margin-right: 150px;
margin-top: 180px;
margin-bottom: 150px;
}

#homeLink{
  border-radius: 25px;
  margin: auto;
  font-size: 25px;
  position: absolute;
  padding: 20px;
  background-color: white;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  text-align: center;
  position: center;    
    
}